/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* custom properties */
:root {
  /* primary */
  --primary-color-softBlue: hsl(215, 51%, 70%);
  --primary-color-cyan: hsl(178, 100%, 50%);
  /* neutral */
  --neutral-color-darkBlueMain: hsl(217, 54%, 11%);
  --neutral-color-darkBlueCard: hsl(216, 50%, 16%);
  --neutral-color-darkBlueLine: hsl(215, 32%, 27%);
  --neutral-color-white: hsl(0, 0%, 100%);
}
/* general styles */
body {
  background-color: var(--neutral-color-darkBlueMain);
}
/* card */
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px solid black;
  border-radius: 11px;
  width: 20rem;
  height: 33rem;
  overflow: hidden;
  background-color: var(--neutral-color-darkBlueCard);
  font-family: "Outfit";
  box-shadow: 0 5px 50px hsl(217, 54%, 6%);
}
/* card inside */
.card__img--product {
  margin: 1.5rem;
}
.card__img--product img {
  border-radius: 11px;
}
.container {
  margin-left: 1.7rem;
}
.card-item {
  margin-top: 0.8rem;
}
/* card title */
.card__title {
  color: var(--neutral-color-white);
  font-size: 1.3rem;
  font-weight: 600;
}
.card__title--sub {
  color: var(--primary-color-softBlue);
  font-size: 1rem;
  font-weight: 300;
}
/* card price */
.containerFlex {
  display: flex;
  text-align: center;
}
.card__price {
  display: flex;
  align-items: center;
  color: var(--primary-color-cyan);
  padding-right: 5rem;
  font-weight: 600;
}
.card__price img {
  height: 1.1rem;
  padding-right: 0.3rem;
}
.card__days--left {
  display: flex;
  color: var(--primary-color-softBlue);
  font-weight: 300;
  align-items: center;
}
.card__days--left img {
  height: 1.1rem;
  padding-right: 0.3rem;
}
/* linea divisora */
.divisor {
  border-top: 0.01rem solid var(--neutral-color-darkBlueLine);
  width: 90%;
}
/* card user */
.card__img--user {
  width: 2rem;
  margin-right: 1rem;
  border: 1.5px solid var(--neutral-color-white);
  border-radius: 50%;
}
.card__img--user img {
  height: 2rem;
}
.card__paragraph--user {
  font-weight: 300;
  color: var(--primary-color-softBlue);
}
.user {
  color: var(--neutral-color-white);
  font-weight: 300;
}
