/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* custom properties */
:root {
  /* primary */
  --primary-color-softBlue: hsl(215, 51%, 70%);
  --primary-color-cyan: hsl(178, 100%, 50%);
  /* neutral */
  --neutral-color-darkBlueMain: hsl(217, 54%, 11%);
  --neutral-color-darkBlueCard: hsl(216, 50%, 16%);
  --neutral-color-darkBlueLine: hsl(215, 32%, 27%);
  --neutral-color-white: hsl(0, 0%, 100%);
}
